.menu {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline;
    
}

.menu a {
    text-decoration: none;
    margin-top: 25.5px;
    margin-bottom: 25.5px;
    display: inline-block;
    color: red;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
}
.home {
    margin-right: 72px;
}
.photoapp {
    margin-right: 72px;
}
.design {
    margin-right: 50px;
}
.content {
    text-align: center;
}
.image {
width: 1280px;
height: 789px;
left: 0px;
top: 78px;
}

.content-title {

margin-top: 48px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    
    color: #373737;
}

.content-text1 {
margin-top: 38px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
letter-spacing: 2.4px;

color: #373737;
}
.content-text2 {
margin-top: 28px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
letter-spacing: 2.4px;

color: #373737;
} 
.button {
    margin-top: 66px;
    margin-bottom: 82px;
    width: 191px;
    height: 51px;
    left: 544.5px;
    top: 557px;
    
    background: #FF0000;
    border-radius: 4px;}
.button-name {
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 12px;
letter-spacing: 1.8px;
text-transform: uppercase;

color: #FFFFFF;
}

.footer-text { 
    margin-left: 1400px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    
    color: #373737;
}
